
body {
    text-align: center;
    background: url('./images/67016BCB-D445-4521-A2EC-A95A1E62C958_1_105_c.jpeg');
    background-size: cover;
    background-position: center;
    color: white;
    font-family: helvetica;
  }
 
  p {
    font-size: 22px;
    color: #0033cc;
    border-style:solid;
    border-color:#287EC7; 
    border-radius: 5px;
    border-padding: 5px;
    background: #ccd9ff;
  }
  img {
    border: 1px solid #00f;	/* thickness and color of border */
    border-radius: 4px;		/* edge rounding of border */
    width: 150px;				/* width of image (px or % or auto) */
    height: auto;	
  }
  input {
    border: 0;
    padding: 10px;
    font-size: 18px;
  }
  input[type="submit"] {
    background: #0033cc;
    color: white;
  }